.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    background-color: lightseagreen;
    border-radius: 0.50rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    z-index: 1000!important;
}
.show-scrollTop {
    opacity: 1;
    transition: all .1s ease-in-out;
}