<div [hidden]="!isLoggedin">
    <button type="button" (click)="borrar()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
          </svg>
    </button>
    <button type="button" (click)="agregar()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </button>
    <div [hidden]="!update">
        <div [hidden]="!agregarCert">
        <form #certificadoForm="ngForm" id="formularioCertificado" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="tituloCertificado">Titulo</label>
                <input type="text" class="form-control" id="titulo" placeholder="Ingrese Titulo" required [(ngModel)]="titulo" name="tituloCertificado" style="width: 300px;">
            </div>
            <div class="form-group">
                <label for="descripcionCertificado">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Ingrese Descripcion" required [(ngModel)]="descripcion" name="descripcion" style="width: 300px;">
            </div>    
            <div class="form-group">
                <label for="anioCertificado">Año</label>
                <input type="number" class="form-control" id="anioCertificado" placeholder="Ingrese año" required [(ngModel)]="anio" name="anioCertificado" style="width: 300px;">
            </div>
            <div class="form-group">
                <label for="lugarCertificado">Lugar</label>
                <input type="text" class="form-control" id="lugarCertificado" placeholder="Ingrese Lugar" required [(ngModel)]="lugar" name="lugarCertificado" style="width: 300px;">
            </div>    
            <div class="form-group">
                <label for="estadoCertificado">Estado</label>
                <input type="text" class="form-control" id="estadoCertificado" placeholder="Ingrese Estado" required [(ngModel)]="estado" name="estadoCertificado" style="width: 300px;">
            </div>    
            <div class="form-group">
                <button type="button" class="btn btn-secondary" [ngStyle]="{'margin-right':'15px'}" (click)="onClose($event)"
                >Cerrar</button>
                <button type="submit" class="btn btn-success" [disabled]="!certificadoForm.valid">Enviar</button>
            </div>
        </form>
        </div>
    </div>
</div>
<div class="certificacion" *ngFor="let certificacion of certificacion">
    <div [hidden]="!isLoggedin">
 <!--        <button type="button" (click)="borrar()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
              </svg>
        </button>
        <button type="button" (click)="agregar()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>
  -->       <div [hidden]="!update">
            <div [hidden]="!borrarCert">
            <button type="button" (click)="borrarCertificado(certificacion)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                </svg></button>
            <button type="button" (click)="cancelar()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
            </div>
        </div>
    </div>    
    <h4>{{certificacion.titulo}}</h4>
    <h5>{{certificacion.anio}} - {{certificacion.lugar}}</h5>
    <h6>{{certificacion.descripcion}}</h6>
</div>